
<nav class="stay navbar navbar-expand-lg">

          <header>
            <main >
            <section >
              <div>
                <h1 class="e">Marketing<span>Assistant</span></h1>
              </div>
             
              </ul>
                  {{#if isAuthenticated}}
                  <ul class="navbar-nav ms-auto">

                    <li class="nav-item active ms-auto">
                      <a class="nav-link" href="/"><span id="logout">Logout</span></a>
                    </li>
                  </ul>
                  {{ else}}
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-auto">
                      <span class="navbar-brand" href="/"></span></a>                    
                    </li>
                        <li class="nav-item active ms-auto">
                      <a class="nav-link" href="/">home</span></a>
                    </li>
                    <li class="nav-item active ms-auto">
                      <a class="nav-link" href="/login">Login</span></a>
                    </li>
                    <li class="nav-item ms-auto">
                      <a class="nav-link" href="/register">Signup</span></a>
                    </li>

                  </ul>
                  {{/if}}

            </section>
            </main>
          </header>

</nav>
<div class="spacer">taco</div>