<head>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap'
    rel='stylesheet'
  />
</head>

<div class='container'>
  <div id='page-container'>
    <div id='content-wrap'>
      <div class='row'>
        <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 divide'>
          <main class='dash dashboard'>

            <h1>My Projects</h1>

            <section>
              <h3>Add a New Project!</h3>

              <form class='form new-project-form'>
                <div class='form-group'>
                  <label for='project-name'>Project Name:</label>
                  <input
                    class='form-input'
                    type='text'
                    id='project-name'
                    name='project-name'
                  />
                </div>
                <div class='form-group'>
                  <button
                    type='submit'
                    class='btn btn-primary'
                    id='add-project'
                  >Add Project</button>
                </div>
              </form>
            </section>

            <div class='col-md-6 project-list'>
              <h3>My Projects:</h3>

              {{#each project}}
                <div class='row mb-2'>
                  <div class='col-md-8'>
                    <h4><a
                        href='/project/{{project.id}}'
                      >{{project.name}}</a></h4>
                  </div>
                  <div class='col-md-4'>
                    <button
                      class='btn btn-sm btn-danger'
                      data-id='{{project.id}}'
                    >DELETE</button>
                  </div>
                </div>
              {{/each}}
            </div>

          </main>
          <main class='dash'>
            <section>
              <input
                id='searchText'
                placeholder='search two things to compare them!'
                type='text'
              />
              <button id='searchBtn'>search!</button>
            </section>
            <section>
              <div>results show here</div>
            </section>
          </main>
        </div>
        <footer>
          <div class='foot-container'>
            <row class='foot-row'>
              <div class='foot-columns'>
                <a target='_blank' href='https://github.com/ivyreed/marketing-analytics-website'><img
                    src='images/github-mark-white.png'
                    alt=''
                  /></a>
              </div>
              <div class='foot-columns'>
                <ul>
                  <li><a href="https://www.github.com/ivyreed">iny</a></li>
                  <li><a href="https://www.github.com/katgucilatar">katrina</a></li>
                  <li><a href="https://www.github.com/jonjons06">jon</a></li>
                  <li><a href="https://www.github.com/hculp">houston</a></li>
                </ul>
              </div>
            </row>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<script src='js/login.js'></script>
<script src='js/search.js'></script>
<script src='js/project.js'></script>