<head>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap'
    rel='stylesheet'
  />
</head>

<div class='container'>
  <div id='page-container'>
    <div id='content-wrap'>
      <div class='row'>
        <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
          <main class='login dashboard'>

            <h1>This page displays projects</h1>

            <section>
              <h2>add projects here</h2>
              <input type='text' />
              <button class="add-project">add button goes here</button>

            </section>
            <aside>
              <a class='dashboard'>this is where a project will be. if you click
                on it it will take you to your project. this is just an example
                and does not lead anywhere though</a>
              <button>this is the delete button. </button>

            </aside>

          </main>
        </div>
        <footer>
          <div class='foot-container'>
            <row class='foot-row'>
              <div class='foot-columns'>
                <a target='_blank' href=''><img
                    src='../assets/github-mark-white.png'
                    alt=''
                  /></a>
              </div>
              <div class='foot-columns'>
                <ul>
                  <li>ivy</li>
                  <li>katrina</li>
                  <li>jon</li>
                  <li>houston</li>
                </ul>
              </div>
            </row>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
{{!-- <script src='js/login.js'></script> --}}
<script src="js/project.js"></script>