<head>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap'
    rel='stylesheet'
  />
</head>

<div class='container'>
  <div id='page-container'>
    <div id='content-wrap'>
      <div class='row'>
        <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 divide'>
          <main class='dash dashboard'>

            <h1>projects</h1>

            <section>
              <input placeholder='add a new project!' type='text' />
              <button>add!</button>

            </section>
            <aside>
              <button class='dashboard'>project 1</button>
              <button>delete. </button>

            </aside>

          </main>
          <main class='dash'>
            <section>
              <input
                placeholder='search two things to compare them!'
                type='text'
              />
              <button>search!</button>
            </section>
            <section>
              <div>results show here</div>
            </section>
          </main>
        </div>
        <footer>
          <div class='foot-container'>
            <row class='foot-row'>
              <div class='foot-columns'>
                <a target='_blank' href=''><img
                    src='images/github-mark-white.png'
                    alt=''
                  /></a>
              </div>
              <div class='foot-columns'>
                <ul>
                  <li>ivy</li>
                  <li>katrina</li>
                  <li>jon</li>
                  <li>houston</li>
                </ul>
              </div>
            </row>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
<script src='js/login.js'></script>