<main class='homeContainer b'>
  <ul class="slides">
    <input type="radio" name="radio-buttons" id="img-1" checked />
    <li class="slide-container">
      <div class="slide-image">
        <img src="images/slide-3.jpg">
      </div>
      <div class="carousel-controls">
        <label for="img-3" class="prev-slide">
          <span>&lsaquo;</span>
        </label>
        <label for="img-2" class="next-slide">
          <span>&rsaquo;</span>
        </label>
      </div>
    </li>
    <input type="radio" name="radio-buttons" id="img-2" />
    <li class="slide-container">
      <div class="slide-image">
        <img src="images/slide-2.png">
      </div>
      <div class="carousel-controls">
        <label for="img-1" class="prev-slide">
          <span>&lsaquo;</span>
        </label>
        <label for="img-3" class="next-slide">
          <span>&rsaquo;</span>
        </label>
      </div>
    </li>
    <input type="radio" name="radio-buttons" id="img-3" />
    <li class="slide-container">
      <div class="slide-image">
        <img src="images/slide-1.avif">
      </div>
      <div class="carousel-controls">
        <label for="img-2" class="prev-slide">
          <span>&lsaquo;</span>
        </label>
        <label for="img-1" class="next-slide">
          <span>&rsaquo;</span>
        </label>
      </div>
    </li>
  </ul>
  <aside>
    <h2 class="text-white bold">Marketing Analytic Assistant</h2>
    <p>
      Ever needed help with the relevancy of a project in terms of marketing? Look no more! With this Marketing
      Analytic Assistant app, you can keep track of the relevancy of your projects using our project database
      and
      search query linked to Google Trends.
    </p>
  </aside>
</main>