<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../stylesheets/styles.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap'
      rel='stylesheet'
    />

    <title>test</title>
  </head>
<div class="">

</div>
  <body class='bg'>
    <div id='page-container'>
      <div id='content-wrap'>
        {{!-- <aside class='a'>
          <h1>quote</h1>
          <h2>quote</h2>
          <h3>quote</h3>

        </aside> --}}

        <main class='homeContainer b'>
          <aside>
            <h2>Marketing Analytic Assistant</h2>
            <p>
              Ever needed help with the relevancy of a project in terms of marketing? Look no more! With this Marketing Analytic Assistant app, you can keep track of the relevancy of your projects using our project database and search query linked to Google Trends.
            </p>
          </aside>
     
        </main>
        <section class='c'>
         
         

<div>
  <div class="carousel">
    <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src="images/slide-3.jpg">
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="images/slide-2.png">
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="images/slide-1.avif">
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>

    </ul>
  </div>
</div>




        </section>
      </div>
      <footer>
        <div class='foot-container'>
          <row class='foot-row'>
            <div class='foot-columns'>
              <a target='_blank' href='https://github.com/ivyreed/marketing-analytics-website'><img
                  src='images/github-mark-white.png'
                  alt=''
                /></a>
            </div>
            <div class='foot-columns'>
              <ul>
                <li>ivy</li>
                <li>katrina</li>
                <li>jon</li>
                <li>houston</li>
              </ul>
            </div>
          </row>
        </div>
      </footer>
    </div>
  </body>

</html>