@import './colorscheme';
@import './_mixins';

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: $primary;
    .foot-container{
        background-color: aliceblue;
        display: absolute;
        .foot-row{
            background-color: $primary;
            @include flexcenter(space-around,column);
            .foot-columns{
                flex: wrap;
                img{
                    height: 50px;
                    padding-top: 5px;
                    transition: height .5s;
                    &:hover{
                        height:60px;
                    }
                }
                ul{
                    display: flex;
                    li{
                        a{
                        text-decoration: none;
                        padding: 10px;
                        color: $textcolor1;

                        transition: font-size .5s;
                        &:hover{
                            font-weight: 800;
                            font-size: 20px;
                        }
                        }
                    }
                }
            }
        }
    }
}