@import './colorscheme';
@import './_mixins';

header {
  background: $primary;
  width: 100%;
  height: 80px;
  display: block;
  color: $textcolor1;
  border-bottom: 1px solid black;
  // @include flexcenter(center, row);
  section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    // background-color: aliceblue;
    // @include flexcenter(space-between, column)
    div {
      height: 100%;
      display: table;
      float: left;
      h1 {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        font-family: 'montserrat';
        font-size: 32px;

        span {
          font-weight: 300;
        }
      }
    }
    ul {
      float: right;
      height: 100%;
      z-index: 998;
      li {
        height: 100%;
        display: table;
        float: left;
        padding: 0 20px;

        a {
          display: table-cell;
          vertical-align: middle;
          color: $textcolor1;
          &:hover {
            font-weight: 800;
          }
        }
      }
    }
  }
  // button{
  //     @include flexcenter(center, row);
  //     background-color: $secondary;
  //     &:hover{
  //         display: contents;

  //     }
}
