@import './colorscheme';
@import './_mixins';

.login{
    section{
@include login-boxes
    }
    aside{
@include login-boxes
    }
}
.wordbig{
    color: $accent;
    transition: font-size .5s;
      &:hover{
                        font-weight: 800;
                        font-size: 20px;
}
}
.center{
    display: flex;
    justify-content: center;

};