@import './colorscheme';

@mixin flexcenter($justify, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}
@mixin button {
  button {
    font-weight: 800;
    color: $accent;
    isolation: isolate;
    position: relative;
    border-color: $primary;
    background-color: $accent;
    border-width: 0.5rem;
    display: -moz-inline-grid;
    padding: 0.5em 1.5em;
    border: 0;
    background: $accent;
    margin: 1em;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    transition: clip-path, 500ms;
    &::before {
      @include loginBeforeAndAfter();
      background: linear-gradient(to bottom right, $primary, $accent);
      z-index: -2;
      transition: clip-path 500ms;
    }
    &::after {
      @include loginBeforeAndAfter();
      background: $secondary;
      z-index: -1;
      clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
      transition: clip-path 500ms;
    }
    &:hover {
      color: $secondary;
    }
    &:where(:hover, :focus)::after {
      clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
      transition: clip-path 500ms;
    }
  }
}
@mixin loginBeforeAndAfter {
  content: '';
  position: absolute;
  inset: 0;
}
@mixin login-boxes {
  @include flexcenter(center, column);
  border: solid $accent;
  margin: 1rem;
  padding: 1rem;
  clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
  @include button();
}
@mixin dash-boxes {
  @include flexcenter(center, row);
  border: solid $accent;
  margin: 1rem;
  padding: 1rem;
  clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);

  @include button();
}
