@import './header';
@import './footer';
@import './index';
@import './login';


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'montserrat';
    
}

main{
    color: $textcolor2;
}

#page-container {
    position: relative;
    min-height: 90vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;}
