@import './header';
@import './footer';
@import './index';
@import './login';
@import './dashboard';
@import './carousel';
@import './media';
@import './misc.';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'montserrat';
}