html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

header {
  background: rgb(139, 139, 226);
  width: 100%;
  height: 80px;
  display: block;
  color: rgb(10, 10, 10);
  border-bottom: 1px solid black;
}
header section {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
header section div {
  height: 100%;
  display: table;
  float: left;
}
header section div h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: "montserrat";
  font-size: 32px;
}
header section div h1 span {
  font-weight: 300;
}
header section ul {
  float: right;
  height: 100%;
}
header section ul li {
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}
header section ul li a {
  display: table-cell;
  vertical-align: middle;
  color: rgb(10, 10, 10);
  transition: font-size 0.5s;
}
header section ul li a:hover {
  font-weight: 800;
  font-size: 20px;
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(139, 139, 226);
}
footer .foot-container {
  background-color: aliceblue;
  display: absolute;
}
footer .foot-container .foot-row {
  background-color: rgb(139, 139, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .foot-container .foot-row .foot-columns {
  flex: wrap;
  padding-left: 40px;
  padding-right: 40px;
}
footer .foot-container .foot-row .foot-columns img {
  height: 50px;
  padding-top: 5px;
  transition: height 0.5s;
}
footer .foot-container .foot-row .foot-columns img:hover {
  height: 60px;
}
footer .foot-container .foot-row .foot-columns ul {
  display: flex;
}
footer .foot-container .foot-row .foot-columns ul li {
  padding: 10px;
  color: rgb(10, 10, 10);
  transition: font-size 0.5s;
}
footer .foot-container .foot-row .foot-columns ul li:hover {
  font-weight: 800;
  font-size: 20px;
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.homeContainer aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(228, 228, 228);
  margin: 1rem;
  padding: 1rem;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
}
.homeContainer aside button {
  font-weight: 800;
  color: rgb(228, 228, 228);
  isolation: isolate;
  position: relative;
  border-color: rgb(139, 139, 226);
  background-color: rgb(228, 228, 228);
  border-width: 0.5rem;
  display: -moz-inline-grid;
  padding: 0.5em 1.5em;
  border: 0;
  background: rgb(228, 228, 228);
  margin: 1em;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  transition: 500ms, -webkit-clip-path;
  transition: clip-path, 500ms;
  transition: clip-path, 500ms, -webkit-clip-path;
}
.homeContainer aside button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgb(139, 139, 226), rgb(228, 228, 228));
  z-index: -2;
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.homeContainer aside button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(10, 10, 10);
  z-index: -1;
  -webkit-clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
          clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.homeContainer aside button:hover {
  color: rgb(10, 10, 10);
}
.homeContainer aside button:where(:hover, :focus)::after {
  -webkit-clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
          clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.homeContainer section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(228, 228, 228);
  margin: 1rem;
  padding: 1rem;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
  display: block;
}
.homeContainer section button {
  font-weight: 800;
  color: rgb(228, 228, 228);
  isolation: isolate;
  position: relative;
  border-color: rgb(139, 139, 226);
  background-color: rgb(228, 228, 228);
  border-width: 0.5rem;
  display: -moz-inline-grid;
  padding: 0.5em 1.5em;
  border: 0;
  background: rgb(228, 228, 228);
  margin: 1em;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  transition: 500ms, -webkit-clip-path;
  transition: clip-path, 500ms;
  transition: clip-path, 500ms, -webkit-clip-path;
}
.homeContainer section button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgb(139, 139, 226), rgb(228, 228, 228));
  z-index: -2;
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.homeContainer section button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(10, 10, 10);
  z-index: -1;
  -webkit-clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
          clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.homeContainer section button:hover {
  color: rgb(10, 10, 10);
}
.homeContainer section button:where(:hover, :focus)::after {
  -webkit-clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
          clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

html {
  background-image: linear-gradient(rgb(139, 139, 226), rgb(10, 10, 10));
}

.login section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(228, 228, 228);
  margin: 1rem;
  padding: 1rem;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
}
.login section button {
  font-weight: 800;
  color: rgb(228, 228, 228);
  isolation: isolate;
  position: relative;
  border-color: rgb(139, 139, 226);
  background-color: rgb(228, 228, 228);
  border-width: 0.5rem;
  display: -moz-inline-grid;
  padding: 0.5em 1.5em;
  border: 0;
  background: rgb(228, 228, 228);
  margin: 1em;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  transition: 500ms, -webkit-clip-path;
  transition: clip-path, 500ms;
  transition: clip-path, 500ms, -webkit-clip-path;
}
.login section button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgb(139, 139, 226), rgb(228, 228, 228));
  z-index: -2;
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.login section button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(10, 10, 10);
  z-index: -1;
  -webkit-clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
          clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.login section button:hover {
  color: rgb(10, 10, 10);
}
.login section button:where(:hover, :focus)::after {
  -webkit-clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
          clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.login aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid rgb(228, 228, 228);
  margin: 1rem;
  padding: 1rem;
  -webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(20% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 20%);
}
.login aside button {
  font-weight: 800;
  color: rgb(228, 228, 228);
  isolation: isolate;
  position: relative;
  border-color: rgb(139, 139, 226);
  background-color: rgb(228, 228, 228);
  border-width: 0.5rem;
  display: -moz-inline-grid;
  padding: 0.5em 1.5em;
  border: 0;
  background: rgb(228, 228, 228);
  margin: 1em;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
          clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
  transition: 500ms, -webkit-clip-path;
  transition: clip-path, 500ms;
  transition: clip-path, 500ms, -webkit-clip-path;
}
.login aside button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom right, rgb(139, 139, 226), rgb(228, 228, 228));
  z-index: -2;
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.login aside button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(10, 10, 10);
  z-index: -1;
  -webkit-clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
          clip-path: polygon(15% 5%, 95% 5%, 95% 75%, 85% 95%, 5% 95%, 5% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}
.login aside button:hover {
  color: rgb(10, 10, 10);
}
.login aside button:where(:hover, :focus)::after {
  -webkit-clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
          clip-path: polygon(75% 10%, 85% 25%, 85% 85%, 85% 95%, 85% 95%, 85% 25%);
  transition: -webkit-clip-path 500ms;
  transition: clip-path 500ms;
  transition: clip-path 500ms, -webkit-clip-path 500ms;
}

.wordbig {
  color: rgb(228, 228, 228);
  transition: font-size 0.5s;
}
.wordbig:hover {
  font-weight: 800;
  font-size: 20px;
}

.center {
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "montserrat";
}

main {
  color: rgb(10, 10, 10);
}

#page-container {
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.dashboard {
  color: rgb(228, 228, 228);
}/*# sourceMappingURL=styles.css.map */